!pip install pandasql

In [28]:
import pandas as pd
import requests
import json
from pandasql import sqldf

In [29]:
capita1 = pd.read_csv('/Users/lydia/Projects/PerCapitaCO2Emissions_data_visualization/co-emissions-per-capita.csv')

In [30]:
capita1.columns=['Country' if x== 'Entity' else 'Per-Capita CO₂ emissions' if x== 'Annual CO₂ emissions' else x for x in capita.columns]

In [32]:
capita = capita1.filter(['Country', 'Year', 'Annual CO₂ emissions (per capita)'], axis=1)

In [33]:
capita.head()

       Country  Year  Annual CO₂ emissions (per capita)
0  Afghanistan  1949                           0.001992
1  Afghanistan  1950                           0.011266
2  Afghanistan  1951                           0.012098
3  Afghanistan  1952                           0.011946
4  Afghanistan  1953                           0.013685

In [36]:
total_country1 = pd.read_csv('/Users/lydia/Projects/PerCapitaCO2Emissions_data_visualization/annual-co2-emissions-per-country.csv')

In [38]:
total_country1.head()

        Entity Code  Year  Annual CO₂ emissions
0  Afghanistan  AFG  1949               14656.0
1  Afghanistan  AFG  1950               84272.0
2  Afghanistan  AFG  1951               91600.0
3  Afghanistan  AFG  1952               91600.0
4  Afghanistan  AFG  1953              106256.0

In [42]:
total_country1.columns=['Country' if x== 'Entity' else x for x in total_country1.columns]

In [45]:
total_country = total_country1.filter(['Country', 'Year', 'Annual CO₂ emissions'], axis=1)

In [46]:
total_country.head()

       Country  Year  Annual CO₂ emissions
0  Afghanistan  1949               14656.0
1  Afghanistan  1950               84272.0
2  Afghanistan  1951               91600.0
3  Afghanistan  1952               91600.0
4  Afghanistan  1953              106256.0

In [47]:
gdp1 = pd.read_csv('/Users/lydia/Projects/PerCapitaCO2Emissions_data_visualization/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_26/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_26.csv', skiprows = range(0,3))

In [55]:
gdp = gdp1.filter(['Country Name', '2021', '2022'], axis=1)

In [56]:
gdp.rename(columns={'2021':'gdp 2021', '2022': 'gdp 2022'}, inplace=True)

In [57]:
gdp.head()

                  Country Name      gdp 2021      gdp 2022
0                        Aruba  3.103184e+09  3.544708e+09
1  Africa Eastern and Southern  1.086531e+12  1.185138e+12
2                  Afghanistan  1.426650e+10           NaN
3   Africa Western and Central  8.449275e+11  8.753937e+11
4                       Angola  6.650513e+10  1.067828e+11

In [58]:
pop1 = pd.read_csv('/Users/lydia/Projects/PerCapitaCO2Emissions_data_visualization/API_SP.POP.TOTL_DS2_en_csv_v2_84031/API_SP.POP.TOTL_DS2_en_csv_v2_84031.csv', skiprows = range(0,3))

In [59]:
pop = pop1.filter(['Country Name', '2021', '2022'], axis=1)

In [60]:
pop.rename(columns={'2021':'pop 2021', '2022': 'pop 2022'}, inplace=True)

In [61]:
pop.head()

                  Country Name     pop 2021     pop 2022
0                        Aruba     106537.0     106445.0
1  Africa Eastern and Southern  702977106.0  720859132.0
2                  Afghanistan   40099462.0   41128771.0
3   Africa Western and Central  478185907.0  490330870.0
4                       Angola   34503774.0   35588987.0