!pip install pandasql

In [71]:
import pandas as pd
import requests
import json
from pandasql import sqldf

In [98]:
capita = pd.read_csv('/Users/lydia/Projects/PerCapitaCO2Emissions_data_visualization/data/co-emissions-per-capita.csv')

In [99]:
capita.columns=['Country' if x== 'Entity' else 'Per-Capita CO₂ emissions' if x== 'Annual CO₂ emissions' else x for x in capita.columns]

In [100]:
capita = capita.filter(['Country', 'Year', 'Annual CO₂ emissions (per capita)'], axis=1)

In [101]:
capita.head()

       Country  Year  Annual CO₂ emissions (per capita)
0  Afghanistan  1949                           0.001992
1  Afghanistan  1950                           0.011266
2  Afghanistan  1951                           0.012098
3  Afghanistan  1952                           0.011946
4  Afghanistan  1953                           0.013685

In [102]:
total_country = pd.read_csv('/Users/lydia/Projects/PerCapitaCO2Emissions_data_visualization/data/annual-co2-emissions-per-country.csv')

In [103]:
total_country.columns=['Country' if x== 'Entity' else x for x in total_country.columns]

In [104]:
total_country = total_country.filter(['Country', 'Year', 'Annual CO₂ emissions'], axis=1)

In [105]:
total_country.head()

       Country  Year  Annual CO₂ emissions
0  Afghanistan  1949               14656.0
1  Afghanistan  1950               84272.0
2  Afghanistan  1951               91600.0
3  Afghanistan  1952               91600.0
4  Afghanistan  1953              106256.0

In [106]:
gdp = pd.read_csv('/Users/lydia/Projects/PerCapitaCO2Emissions_data_visualization/data/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_26/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_26.csv', skiprows = range(0,3))

In [107]:
gdp = gdp.filter(['Country Name', '2021', '2022'], axis=1)

In [108]:
gdp.rename(columns={'Country Name':'Country', '2021':'gdp 2021', '2022': 'gdp 2022'}, inplace=True)

In [111]:
gdp = pd.melt(gdp, id_vars=['Country'],var_name='Year', value_name='gdp')

In [112]:
gdp.head()

                       Country      Year           gdp
0                        Aruba  gdp 2021  3.103184e+09
1  Africa Eastern and Southern  gdp 2021  1.086531e+12
2                  Afghanistan  gdp 2021  1.426650e+10
3   Africa Western and Central  gdp 2021  8.449275e+11
4                       Angola  gdp 2021  6.650513e+10

In [113]:
gdp['Year']=gdp['Year'].map({'gdp 2021':2021, 'gdp 2022':2022})

In [114]:
gdp.head()

                       Country  Year           gdp
0                        Aruba  2021  3.103184e+09
1  Africa Eastern and Southern  2021  1.086531e+12
2                  Afghanistan  2021  1.426650e+10
3   Africa Western and Central  2021  8.449275e+11
4                       Angola  2021  6.650513e+10

In [115]:
pop = pd.read_csv('/Users/lydia/Projects/PerCapitaCO2Emissions_data_visualization/data/API_SP.POP.TOTL_DS2_en_csv_v2_84031/API_SP.POP.TOTL_DS2_en_csv_v2_84031.csv', skiprows = range(0,3))

In [116]:
pop = pop.filter(['Country Name', '2021', '2022'], axis=1)

In [117]:
pop.rename(columns={'Country Name':'Country', '2021':'pop 2021', '2022':'pop 2022'}, inplace=True)

In [118]:
pop = pd.melt(pop, id_vars=['Country'],var_name='Year', value_name='pop')

In [120]:
pop['Year']=pop['Year'].map({'pop 2021':2021, 'pop 2022':2022})

In [122]:
pop.head()

                       Country  Year          pop
0                        Aruba  2021     106537.0
1  Africa Eastern and Southern  2021  702977106.0
2                  Afghanistan  2021   40099462.0
3   Africa Western and Central  2021  478185907.0
4                       Angola  2021   34503774.0

In [123]:
largest = pd.merge(capita,pop,how='left',left_on=['Country'],right_on=['Country'])
largest = largest[largest['Year'] == 2022]
largest = largest[largest['pop 2022'] > 5000000]
largest = largest[largest['Country'] != "North America"]
largest.head()

KeyError: 'Year'

In [64]:
largest = pd.merge(largest,gdp, how='left',left_on=['Country'],right_on=['Country'])

In [65]:
largest = pd.merge(largest,total_country,how='left',left_on=['Country'],right_on=['Country'])

In [67]:
largest.head()

,Country,Year_x,Annual CO₂ emissions (per capita),pop 2021,pop 2022,gdp 2021,gdp 2022,Year_y,Annual CO₂ emissions
0,Afghanistan,2022,0.295364,40099462.0,41128771.0,1.426650e+10,NaN,1949,14656.0
1,Afghanistan,2022,0.295364,40099462.0,41128771.0,1.426650e+10,NaN,1950,84272.0
2,Afghanistan,2022,0.295364,40099462.0,41128771.0,1.426650e+10,NaN,1951,91600.0
3,Afghanistan,2022,0.295364,40099462.0,41128771.0,1.426650e+10,NaN,1952,91600.0
4,Afghanistan,2022,0.295364,40099462.0,41128771.0,1.426650e+10,NaN,1953,106256.0

In [66]:
top_twenty = largest.nlargest(20,'Annual CO₂ emissions (per capita)')
top_twenty.head(20)

,Country,Year_x,Annual CO₂ emissions (per capita),pop 2021,pop 2022,gdp 2021,gdp 2022,Year_y,Annual CO₂ emissions
12629,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1959,10992.0
12630,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1960,10992.0
12631,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1961,10992.0
12632,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1962,18320.0
12633,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1963,21984.0
12634,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1964,18320.0
12635,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1965,21984.0
12636,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1966,25648.0
12637,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1967,916000.0
12638,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1968,1242096.0
12639,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1969,20507408.0
12640,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1970,15234912.0
12641,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1971,21166928.0
12642,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1972,23434944.0
12643,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1973,30605392.0
12644,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1974,31301552.0
12645,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1975,31045072.0
12646,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1976,39617012.0
12647,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1977,38751290.0
12648,United Arab Emirates,2022,25.833244,9365145.0,9441129.0,4.151788e+11,5.070640e+11,1978,44753588.0

In [44]:
top_twenty_list = top_twenty['Country'].tolist()
print(top_twenty_list)

['United Arab Emirates', 'Saudi Arabia', 'Australia', 'United States', 'Canada', 'Kazakhstan', 'Turkmenistan', 'Czechia', 'Libya', 'Singapore', 'Malaysia', 'Japan', 'Poland', 'China', 'Germany', 'Ireland', 'Belgium', 'Norway', 'Netherlands', 'Austria']

l = [for i in 'Country', row in capita if [i] == "Country" && if "Year" >= 2003]