!pip install pandasql

In [2]:
import pandas as pd
import requests
import json
from pandasql import sqldf

In [4]:
capita = pd.read_csv('/Users/lydia/Projects/PerCapitaCO2Emissions_data_visualization/data/co-emissions-per-capita.csv')

In [5]:
capita.columns=['Country' if x== 'Entity' else 'Per-Capita CO₂ emissions' if x== 'Annual CO₂ emissions' else x for x in capita.columns]

In [6]:
capita = capita.filter(['Country', 'Year', 'Annual CO₂ emissions (per capita)'], axis=1)

In [7]:
capita.head()

       Country  Year  Annual CO₂ emissions (per capita)
0  Afghanistan  1949                           0.001992
1  Afghanistan  1950                           0.011266
2  Afghanistan  1951                           0.012098
3  Afghanistan  1952                           0.011946
4  Afghanistan  1953                           0.013685

In [9]:
total_country = pd.read_csv('/Users/lydia/Projects/PerCapitaCO2Emissions_data_visualization/data/annual-co2-emissions-per-country.csv')

In [11]:
total_country.columns=['Country' if x== 'Entity' else x for x in total_country.columns]

In [12]:
total_country = total_country.filter(['Country', 'Year', 'Annual CO₂ emissions'], axis=1)

In [13]:
total_country.head()

       Country  Year  Annual CO₂ emissions
0  Afghanistan  1949               14656.0
1  Afghanistan  1950               84272.0
2  Afghanistan  1951               91600.0
3  Afghanistan  1952               91600.0
4  Afghanistan  1953              106256.0

In [14]:
gdp = pd.read_csv('/Users/lydia/Projects/PerCapitaCO2Emissions_data_visualization/data/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_26/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_26.csv', skiprows = range(0,3))

In [15]:
gdp = gdp.filter(['Country Name', '2021', '2022'], axis=1)

In [16]:
gdp.rename(columns={'2021':'gdp 2021', '2022': 'gdp 2022'}, inplace=True)

In [17]:
gdp.head()

                  Country Name      gdp 2021      gdp 2022
0                        Aruba  3.103184e+09  3.544708e+09
1  Africa Eastern and Southern  1.086531e+12  1.185138e+12
2                  Afghanistan  1.426650e+10           NaN
3   Africa Western and Central  8.449275e+11  8.753937e+11
4                       Angola  6.650513e+10  1.067828e+11

In [18]:
pop = pd.read_csv('/Users/lydia/Projects/PerCapitaCO2Emissions_data_visualization/data/API_SP.POP.TOTL_DS2_en_csv_v2_84031/API_SP.POP.TOTL_DS2_en_csv_v2_84031.csv', skiprows = range(0,3))

In [19]:
pop = pop.filter(['Country Name', '2021', '2022'], axis=1)

In [20]:
pop.rename(columns={'2021':'pop 2021', '2022': 'pop 2022'}, inplace=True)

In [21]:
pop.head()

                  Country Name     pop 2021     pop 2022
0                        Aruba     106537.0     106445.0
1  Africa Eastern and Southern  702977106.0  720859132.0
2                  Afghanistan   40099462.0   41128771.0
3   Africa Western and Central  478185907.0  490330870.0
4                       Angola   34503774.0   35588987.0

In [36]:
largest = pd.merge(capita,pop,how='left',left_on=['Country'],right_on=['Country Name'])
largest.drop(['Country Name'], axis = 1, inplace = True) 
largest = largest[largest['Year'] == 2022]
largest = largest[largest['pop 2022'] > 5000000]
largest = largest[largest['Country'] != "North America"]

largest.head()

,Country,Year,Annual CO₂ emissions (per capita),pop 2021,pop 2022
73,Afghanistan,2022,0.295364,40099462.0,41128771.0
498,Algeria,2022,3.927226,44177969.0,44903225.0
799,Angola,2022,0.451552,34503774.0,35588987.0
1034,Argentina,2022,4.237817,45808747.0,46234830.0
1964,Australia,2022,14.985412,25685412.0,26005540.0

In [37]:
top_twenty = largest.nlargest(20,'Annual CO₂ emissions (per capita)')
top_twenty.head(20)

,Country,Year,Annual CO₂ emissions (per capita),pop 2021,pop 2022
24827,United Arab Emirates,2022,25.833244,9.365145e+06,9.441129e+06
20576,Saudi Arabia,2022,18.197495,3.595040e+07,3.640882e+07
1964,Australia,2022,14.985412,2.568541e+07,2.600554e+07
25278,United States,2022,14.949616,3.320316e+08,3.332876e+08
4878,Canada,2022,14.249212,3.822650e+07,3.892990e+07
12876,Kazakhstan,2022,13.979704,1.900099e+07,1.962197e+07
24263,Turkmenistan,2022,11.034180,6.341855e+06,6.430770e+06
6453,Czechia,2022,9.335752,1.050577e+07,1.067212e+07
13787,Libya,2022,9.242238,6.735277e+06,6.812341e+06
21293,Singapore,2022,8.911513,5.453566e+06,5.637022e+06
14924,Malaysia,2022,8.576508,3.357387e+07,3.393822e+07
12632,Japan,2022,8.501681,1.256816e+08,1.251250e+08
19404,Poland,2022,8.106886,3.774712e+07,3.682175e+07
5341,China,2022,7.992761,1.412360e+09,1.412175e+09
9974,Germany,2022,7.983758,8.319608e+07,8.379798e+07
12148,Ireland,2022,7.721119,5.033164e+06,5.127170e+06
3021,Belgium,2022,7.687539,1.158620e+07,1.168581e+07
18088,Norway,2022,7.509305,5.408320e+06,5.457127e+06
16668,Netherlands,2022,7.137218,1.753304e+07,1.770098e+07
2169,Austria,2022,6.878194,8.955797e+06,9.041851e+06

In [38]:
top_twenty_list = top_twenty['Country'].tolist()
print(top_twenty_list)

['United Arab Emirates', 'Saudi Arabia', 'Australia', 'United States', 'Canada', 'Kazakhstan', 'Turkmenistan', 'Czechia', 'Libya', 'Singapore', 'Malaysia', 'Japan', 'Poland', 'China', 'Germany', 'Ireland', 'Belgium', 'Norway', 'Netherlands', 'Austria']